@font-face {
    font-family: lato-blackitalic;
    src: url('../src/fonts/Lato-BlackItalic.ttf')
}

@font-face {
    font-family: lato-black;
    src: url('../src/fonts/Lato-Black.ttf')
}

@font-face {
    font-family: lato-bold;
    src: url('../src/fonts/Lato-Bold.ttf')
}

@font-face {
    font-family: lato-bolditalic;
    src: url('../src/fonts/Lato-BoldItalic.ttf')
}

@font-face {
    font-family: lato-italic;
    src: url('../src/fonts/Lato-Italic.ttf')
}

@font-face {
    font-family: lato-light;
    src: url('../src/fonts/Lato-Light.ttf')
}

@font-face {
    font-family: lato-lightitalic;
    src: url('../src/fonts/Lato-LightItalic.ttf')
}

@font-face {
    font-family: lato-regular;
    src: url('../src/fonts/Lato-Regular.ttf')
}

@font-face {
    font-family: lato-thin;
    src: url('../src/fonts/Lato-Thin.ttf')
}

@font-face {
    font-family: lato-thinitalic;
    src: url('../src/fonts/Lato-ThinItalic.ttf')
}

$_margin: 0 12.5vw;







